{{!-- 公用footer --}}
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7 hidden-xs" style="padding-top: 4px; border-right: 1px solid rgba(255,255,255,0.2);">
                <div class="col-sm-4 col-md-3">
                    <h5>业务范畴</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">企业用车</a></li>
                        <li><a href="#">企业班车</a></li>
                        <li><a href="#">用车SAAS</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-3">
                    <h5>帮助与合作</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">车队加盟</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-3">
                    <h5>关于嘟嘟</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">加入我们</a></li>
                        <li><a href="#">新闻动态</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 clearfix" style=" padding-top: 6px;">
                <div>
                    <h5>服务热线：<i>400-850-0084</i></h5>
                    <h5>在线时间：8:00-22:00</h5>
                    <div class="row" style="margin: 17px 0 58px;">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <img src="{{baseUrl "/images/common/serviceQrcode140-140.png"}}" style="max-width: 100%"/>
                            <p class="qrcode_text" style="line-height:30px; color:rgba(207,69,58,1); background: #fff;">官方微信公众号</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <img src="{{baseUrl "/images/common/appQrcode.png"}}" style="max-width: 100%"/>
                            <p class="qrcode_text" style=" line-height:28px; color:#fff; border: 1px solid #fff;">嘟嘟巴士APP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row link_box">
            <div class="col-md-7" style="color: #E6E6E6; line-height: 40px;">©2018深圳市乐途宝网络科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/" style="font-size: 14px;">粤ICP备15016985号</a></div>
            <div class="col-md-5 pull-right hidden-sm hidden-xs" style="font-size: 14px; color: #E6E6E6;">
                <span>友情链接</span>
                <a href="#">&nbsp;&nbsp;360手机助手</a>
                <a href="#">&nbsp;&nbsp;应用宝</a>
                <a href="#">&nbsp;&nbsp;小米应用商城</a>
                <a href="#">&nbsp;&nbsp;华为应用市场</a>
                <a href="#">&nbsp;&nbsp;百度手机助手</a>
            </div>
        </div>
    </div>
</div>
<div id="contact-box">
    <a href="#">
        <img src="{{baseUrl "/images/common/phoneIcon@2x.png"}}"/>
        <span class="text-center hidden-xs">电话咨询</span>
        <div class="contactDetail">
            <p class="text-center phoneNum">400-850-0084</p>
            <p class="text-center timeLast">在线时间：8:00-22:00</p>
        </div>
    </a>
    <a href="#">
        <img src="{{baseUrl "/images/common/wechatIcon@2x.png"}}"/>
        <span class="text-center hidden-xs">微信公众号</span>
        <img src="{{baseUrl "/images/common/serviceQrcodeCopy.png"}}" class="qrcodeImg contactDetail"/>
    </a>
    <a href="#">
        <img src="{{baseUrl "/images/common/customService@2x.png"}}"/>
        <span class="text-center hidden-xs">在线客服</span>
    </a>
</div>
<img src="{{baseUrl "/images/common/top60-60@2x.png"}}" id="to_top"/>